@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    text-align: center;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2%;
}

input{
    border-radius: 5px;
    border: 1px solid black;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

#send{
    background-color: #23DC3D;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border: 0px;
    border-radius: 5px;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    text-align: left;
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    border: 1px solid black;
    width: 50%;
    margin: 1rem;
}